In [2]:
import pandas as pd

In [4]:
import torch
print(torch.cuda.is_available())
print(torch.cuda.device_count())

In [3]:
print(torch.rand(3,3).cuda())

tensor([[0.8851, 0.1781, 0.5934],
        [0.2816, 0.5420, 0.5648],
        [0.0208, 0.1032, 0.2357]], device='cuda:0')

In [5]:
torch.cuda_version_1

'11_8'

In [1]:
print("this is a test")

this is a test

In [3]:
pd.DataFrame(columns=['A','B'])

Empty DataFrame
Columns: [A, B]
Index: []

In [4]:
k=pd.Series([1,2,4,5],name='df')

In [5]:
k

0    1
1    2
2    4
3    5
Name: df, dtype: int64